/* input {
  border-radius: 5px;
  padding: 9px;
  width: 18vw;
} */
textarea {
  border-radius: 5px;
  padding: 9px;
  width: 22vw;
  height: 15vh;
  margin-top: 35px;
}
button {
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 500;
}
button:hover {
  color: white;
  background-color: rgba(7, 7, 11, 0.773);
}
